<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            margin: 0;
        }
        
        #header {
            background: #111111;
            margin: 0;
            color: rgba(255, 255, 255, 0.5);
            cursor: default;
            height: 3.25rem;
            left: 0;
            line-height: 3.25rem;
            /*position: fixed;*/
            top: 0;
            width: 100%;
            margin-bottom: 2vh;
        }
        
        .logo {
            color: #ffffff;
            font-size: 1rem;
            font-weight: 600;
            height: inherit;
            line-height: inherit;
            padding: 0 1.25rem;
            text-decoration: none;
        }
        
        #jb-container {
            margin-top: 2vh;
            width: 940px;
            height: 60vh;
            margin: 0px auto;
            padding: 20px;
            border: 1px solid rgb(32, 30, 30);
        }
        
        #jb-content {
            width: 580px;
            height: 45vh;
            padding: 20px;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid rgb(32, 30, 30);
        }
        
        #board_name {
            width: 580px;
            height: 4vh;
            border: 1px solid rgb(32, 30, 30);
            margin-bottom: 5vh;
        }
        
        #board {
            width: 580px;
            height: 30vh;
            border: 1px solid rgb(32, 30, 30);
            margin-bottom: 3vh;
        }
        
        #button {
            display: flex;
            flex-direction: row;
            width: 580px;
            height: 10vh;
            text-align: center;
        }
    </style>
    <script>
    </script>
</head>

<body>
    <header id="header">
        <a class="logo" href="/admin">admin page</a>
        <a class="logo" href="/logout">Logout</a>
        <a class="logo" href="/munhak">munhak</a>
    </header>
    <br>
    <div>
        <div id='jb-container'>

            <div id="jb-content">

                작성자 :
                <%= userid %> <br>
                    <div id="board_name">
                        <%= board_name %> <br>
                    </div>
                    <div id="board">
                        <%= board %> <br>
                    </div>
                    <div>
                        <%= datetime %> <br>
                    </div>
                    <div id="button">
                        <a href="/deleteboard/<%= id %>/<%= userid %>"><button>삭제하기</button></a>
                        <a href="/modifyboard/<%= id %>/<%= userid %>"><button>수정하기</button></a>
                        <a href="/"><button>메인페이지</button></a>
                    </div>
            </div>
        </div>
    </div>
</body>

</html>